<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        {{>header}}
        <p>this site was created for weather forecast.It uses data from mapbox.com and darksky.net</p>
        <img src="img/psf.jpeg">
         {{>footer}}
    </body>

</html>